/AutomatinioTestavimoMokymai/bin/Debug/AutomatinioTestavimoMokymai.dll
/AutomatinioTestavimoMokymai/bin/Debug/AutomatinioTestavimoMokymai.pdb
/AutomatinioTestavimoMokymai/bin/Debug/chromedriver.exe
/AutomatinioTestavimoMokymai/bin/Debug/geckodriver.exe
/AutomatinioTestavimoMokymai/bin/Debug/nunit.engine.api.dll
/AutomatinioTestavimoMokymai/bin/Debug/nunit.engine.core.dll
/AutomatinioTestavimoMokymai/bin/Debug/nunit.engine.dll
/AutomatinioTestavimoMokymai/bin/Debug/nunit.framework.dll
/AutomatinioTestavimoMokymai/bin/Debug/nunit.framework.xml
/AutomatinioTestavimoMokymai/bin/Debug/nunit_random_seed.tmp
/AutomatinioTestavimoMokymai/bin/Debug/NUnit3.TestAdapter.dll
/AutomatinioTestavimoMokymai/bin/Debug/NUnit3.TestAdapter.pdb
/AutomatinioTestavimoMokymai/bin/Debug/WebDriver.dll
/AutomatinioTestavimoMokymai/bin/Debug/WebDriver.Support.dll
/AutomatinioTestavimoMokymai/bin/Debug/WebDriver.Support.xml
/AutomatinioTestavimoMokymai/bin/Debug/WebDriver.xml
/AutomatinioTestavimoMokymai/bin/Debug/wires-0.6.0-win.exe
/AutomatinioTestavimoMokymai/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/AutomatinioTestavimoMokymai/obj/Debug/AutomatinioTestavimoMokymai.csproj.CopyComplete
/AutomatinioTestavimoMokymai/obj/Debug/AutomatinioTestavimoMokymai.csproj.CoreCompileInputs.cache
/AutomatinioTestavimoMokymai/obj/Debug/AutomatinioTestavimoMokymai.csproj.FileListAbsolute.txt
/AutomatinioTestavimoMokymai/obj/Debug/AutomatinioTestavimoMokymai.csprojAssemblyReference.cache
/AutomatinioTestavimoMokymai/obj/Debug/AutomatinioTestavimoMokymai.dll
/AutomatinioTestavimoMokymai/obj/Debug/AutomatinioTestavimoMokymai.pdb
/AutomatinioTestavimoMokymai/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/packages/NUnit.3.13.1/.signature.p7s
/packages/NUnit.3.13.1/build/NUnit.props
/packages/NUnit.3.13.1/CHANGES.md
/packages/NUnit.3.13.1/icon.png
/packages/NUnit.3.13.1/lib/net35/nunit.framework.dll
/packages/NUnit.3.13.1/lib/net35/nunit.framework.xml
/packages/NUnit.3.13.1/lib/net40/nunit.framework.dll
/packages/NUnit.3.13.1/lib/net40/nunit.framework.xml
/packages/NUnit.3.13.1/lib/net45/nunit.framework.dll
/packages/NUnit.3.13.1/lib/net45/nunit.framework.xml
/packages/NUnit.3.13.1/lib/netstandard2.0/nunit.framework.dll
/packages/NUnit.3.13.1/lib/netstandard2.0/nunit.framework.xml
/packages/NUnit.3.13.1/LICENSE.txt
/packages/NUnit.3.13.1/NOTICES.txt
/packages/NUnit.3.13.1/NUnit.3.13.1.nupkg
/packages/NUnit3TestAdapter.3.17.0/.signature.p7s
/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.api.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.core.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.api.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.core.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.3.17.0/LICENSE.txt
/packages/NUnit3TestAdapter.3.17.0/NUnit3TestAdapter.3.17.0.nupkg
/packages/Selenium.Firefox.WebDriver.0.27.0/.signature.p7s
/packages/Selenium.Firefox.WebDriver.0.27.0/build/Selenium.Firefox.WebDriver.targets
/packages/Selenium.Firefox.WebDriver.0.27.0/driver/geckodriver.exe
/packages/Selenium.Firefox.WebDriver.0.27.0/Selenium.Firefox.WebDriver.0.27.0.nupkg
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/.signature.p7s
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/content/Readme.txt
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/Driver/wires-0.6.0-win.exe
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1.nupkg
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/tools/install.ps1
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/tools/uninstall.ps1
/packages/Selenium.Support.3.141.0/.signature.p7s
/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/Selenium.Support.3.141.0.nupkg
/packages/Selenium.WebDriver.3.141.0/.signature.p7s
/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/Selenium.WebDriver.3.141.0.nupkg
/packages/Selenium.WebDriver.ChromeDriver.88.0.4324.9600/.signature.p7s
/packages/Selenium.WebDriver.ChromeDriver.88.0.4324.9600/build/DefinePropertiesChromeDriver.targets
/packages/Selenium.WebDriver.ChromeDriver.88.0.4324.9600/build/Selenium.WebDriver.ChromeDriver.targets
/packages/Selenium.WebDriver.ChromeDriver.88.0.4324.9600/driver/linux64/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.88.0.4324.9600/driver/mac64/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.88.0.4324.9600/driver/win32/chromedriver.exe
/packages/Selenium.WebDriver.ChromeDriver.88.0.4324.9600/nupkg-icon.png
/packages/Selenium.WebDriver.ChromeDriver.88.0.4324.9600/Selenium.WebDriver.ChromeDriver.88.0.4324.9600.nupkg
